<section class="ui raised segment">
    <header class="ui header">
    {{user.firstName}} {{user.lastName}}'s Devices
    </header>
    <table class ="ui fixed table">
        <thead>
        <td>
        wia device secret key <i class="huge key alternate icon"></i> "Insert wia secret key"
        </td>
        <td>
            Blynk Auth Token <i class="huge mobile alternate icon"></i> {{authtoken}}
        </td>
              </td>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>