{{> menu id="dashboard"}}

<section class="ui segment">
  <iframe width="1000" height="600" allowtransparency="true" scrolling="no" frameborder="no" src="https://widgets.wia.io/embed/wgt_rCqMBKq9/dev_DhqpRtxz"></iframe>
</section>


