{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3>
    IoT Skills Gym Web App
  </h3>
  <p>
    An app for keeping track of smartphone gps locations.
    Instructions
    1. Download the blynk app from your smartphone's store.
    2. Select GPS widget from the widget box.
    3. Select the GPS widget.
    4. In the OUTPUT box select the V1 option.
    5. In the ACCURACY box, select "Ten Meters".
    6. Select the hexagonal cog open 
  </p>
</section>